.org-page{
  .dept{
    width: 30vw;
    max-width: 30vw;
    margin: 5px;
    height: 100px;
    // color: #fff;
    border-radius: 4px;
    // background: #d4e3fc;
    text-align: center;
    text-transform: capitalize;
    padding-top: 40px;
    color: #fff;
    .dept-icon{
      filter: invert(1);
    }
    // @for $i from 1 through 9 {
    //   &:nth-child(#{$i}) {
    //     content: '#{$i}';
    //     background: lighten(#5e84c1, $i*2);
    //   }
    // }
  }
  @mixin department($id){
    // background: map-get($deptColors, $id);
    background: linear-gradient(270deg, map-get($deptColors, $id), lighten(map-get($deptColors, $id), 4));
  }

  @each $dept in $deptNames {
    .#{$dept} {
      @include department($dept)
    }
  }  
}
