$primaryColor: #7498D6;
// $primaryColor: #f4315b;

$elBg: #fff;
$mainBG: #E6DDD3;

$heights: (header: 16vh, main: 76vh, footer: 8vh);

$deptNames: ('security', 'library', 'transportation', 'cleanliness', 'grievance', 'accounts', 'hostel', 'clubs', 'ragging');
$deptColors: (security: #3b3d4b, library: #583320, transportation: #ff8f00, cleanliness: #1b561e, grievance: #920303, accounts: #1d4872, hostel: #512da8, clubs: #f4315b, ragging: #920303);
