/*grid*/
.container{
  display: flex;
}
.col{
  flex: 1;
}


/*elements*/
.page{
  height: 100vh;

  background: #4565A6;
}
.form-el{
  margin-bottom: 20px;
}
.complaint{
  margin-top: 20px;
}

.register{
  margin: 0 auto;

  text-align: center;

  color: white;
}
.form-pages{
  position: relative;

  width: 80vw;
  min-height: 60vh;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 10vh;
}
